.sectionSubtitle {
  font-size: clamp(18px, 1.2vw, 20px);
  color: rgba(69, 8, 108, 1);
}

/* ROW LAYOUT */
.row {
  display: flex;
  flex-direction: row;
  gap: clamp(15px, 3vw, 50px);
  align-items: center;
  margin-bottom: clamp(20px, 4vw, 60px);
}

/* TEXT */
.text {
  flex: 1;
  font-size: clamp(14px, 1.1vw, 18px);
  line-height: 1.7;
}

/* IMAGE */
.image {
  flex: 1;
}

.image img {
  width: auto;
  height: clamp(200px, 20vw, 350px);
  border-radius: 10px;
}

/* CENTER IMAGE */
.center-image {
  display: flex;
  gap: clamp(20px, 2vw, 40px);
  justify-content: center;
}

.center-image img {
  width: auto;
  height: clamp(200px, 20vw, 300px);
  border-radius: 10px;
}

/* FULL WIDTH TEXT */
.full-text {
  width: 100%;
  font-size: clamp(14px, 1.1vw, 18px);
  line-height: 1.7;
  margin-bottom: clamp(20px, 3vw, 40px);
}

/* QUOTE */
.quote {
  text-align: center;
  font-size: clamp(16px, 1.4vw, 22px);
  color: rgba(186, 1, 90, 1);
  font-weight: bold;
  margin-bottom: clamp(10px, 1.5vw, 20px);
}

/* ---------------- MOBILE RESPONSIVE ---------------- */
@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }

  .row.reverse {
    flex-direction: column;
  }


  .center-image{
    display: flex;
    flex-direction: column;
  }

  .text {
    text-align: justify;
  }
}