.about {
  padding: clamp(1rem, 3vw, 3rem) clamp(1.5rem, 6vw, 6rem);
  background: #f8fafc;
}

.main-title {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  color: rgba(186, 1, 90, 1);
}

.main-title::after {
  content: "";
  flex: 1;              /* makes line take full available width */
  height: 2px;
  background-color: green;
  margin-top: 15px;
}
/* CARD CONTAINER */
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1rem, 3vw, 3rem);
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #f1f5f9);
  padding: clamp(1.5rem, 3vw, 2.5rem);
  border-radius: 16px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
}


/*  MODERN BUTTON */
.know-btn {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  width: fit-content;
  background: none;
  padding: 8px 18px;
  border-radius: 18px;
  font-size: clamp(0.8rem, 1vw, 0.95rem);
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg,
      rgba(186, 1, 90, 1),
      rgba(69, 8, 108, 1));
  color: white;
  transition: all 0.3s ease;
}

/* Click */
.know-btn:active {
  transform: scale(0.96);
}

/* IMAGE SIDE */
.about-image {
  border-radius: 12px;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: clamp(220px, 28vw, 420px);
  object-fit: cover;
  transition: transform 0.5s ease;
}

.about-image:hover img {
  transform: scale(1.05);
}

/* TABLET */
@media (max-width: 992px) {
  .about-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-text {
    align-items: center;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .national-about {
    padding: 1rem;
  }

  .about-content {
    padding: 1.2rem;
  }
}