.department-section {
  width: 90%;
  margin: 0 auto;
  padding: clamp(10px, 2vw, 30px) 0;
}

.scroll-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
}

.department-card {
  border-radius: 18px;
  padding: clamp(10px, 1.5vw, 20px);
  margin: clamp(10px, 1.5vw, 20px) 0;
  box-shadow:
    0 -4px 10px rgba(0, 0, 0, 0.06),
    0 4px 10px rgba(0, 0, 0, 0.08);
}

.scroll-btn {
  background: rgba(186, 1, 90, 1);
  color: white;
  margin-bottom: 5%;
  border: none;
  padding: clamp(5px, 1vw, 8px) clamp(6px, 1vw, 10px);
  cursor: pointer;
  font-size: clamp(14px, 2vw, 18px);
  border-radius: 50%;
  flex-shrink: 0;
}

.department-container {
  display: flex;
  gap: clamp(15px, 5vw, 45px);
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex: 1;
}

.department-container::-webkit-scrollbar {
  display: none;
}


.department-card {
  flex: 0 0 calc(30% - 20px);
  text-align: center;
}


.department-card img {
  width: 100%;
  height: clamp(180px, 40vw, 300px);
  object-fit: cover;
   border-radius: 18px;
}


.dep-name {
  color: rgba(69, 8, 108, 1);
  font-size: clamp(14px, 2.5vw, 18px);
  margin-top: clamp(8px, 2vw, 12px);
}

/* MOBILE: show only ONE card */
@media (max-width: 600px) {
  .department-card {
    flex: 0 0 100%;
  }
}