.university-profile {
  margin: 0 auto;
  padding: clamp(10px, 1.5vw, 20px) clamp(20px, 4vw, 80px);
  box-shadow:
    0 -4px 10px rgba(0, 0, 0, 0.06),
    0 4px 10px rgba(0, 0, 0, 0.08);
}


/* Make both sections follow SAME inner width */
.profile-text,
.campus-content {
  width: 100%;
}

/* Layout */
.campus-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(20px, 3vw, 40px);
  width: 100%;
}

.campus-left,
.campus-right {
  flex: 1;
}

.campus-img {
  width: 100%;
  height: clamp(200px, 30vw, 450px);
  display: block;
  border-radius: 10px;
}

.profile-container {
  gap: clamp(15px, 2vw, 30px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Card Styling */
.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

/* Title */
.profile-name {
  width: max-content;
  display: flex;
  margin: 5px;
  color: rgba(69, 8, 108, 1);
  align-items: center;
  font-size: clamp(12px, 1.2vw, 18px);
  border-bottom: 1px solid goldenrod;
}

.profile-card p {
  margin: 0;
}


/* Tablet */
@media (max-width: 576px) {
  .campus-content {
    flex-direction: column;
    text-align: center;
  }

}