.university-profile {
  margin: 0 auto;
  padding: clamp(10px, 1.5vw, 20px) clamp(20px, 4vw, 80px);
  box-shadow:
    0 -4px 10px rgba(0, 0, 0, 0.06),
    0 4px 10px rgba(0, 0, 0, 0.08);
}


/* Layout */
.campus-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left Text */
.campus-left {
  flex: 1;
  text-align: left;
}

.campus-img {
  width: 100%;
  height: clamp(200px, 30vw, 500px);
  display: block;
  border-radius: 10px;
}

/* Right Image */
.campus-right {
  flex: 1;
  text-align: left;
}


/* Tablet */
@media (max-width: 576px) {
  .campus-content {
    flex-direction: column;
    text-align: center;
  }

}